<html>
<head><title>
Helping Hand</title>
{% load static %}
<link rel="stylesheet" href="mini-default.css">
      <link rel="stylesheet" href="{% static 'custom.cs' %}">
      <link rel="stylesheet" href="{% static 'divs.css' %}">

</head>
<body>
  <video src="{% static 'back1.mp4'%}" autoplay="true" muted="true" loop="true" style="position:fixed; right:0;
  bottom:0;min-width:100%;min-height:100%;">
  </video>


<div class="content">
<div class="overall">
<h1>
<p align="center" style="color:  #ff3300;text-shadow: #ff5c33;font-size: 50px;" class="glow"><i><b>Helping Hand By Bhanvi!</p> </h1>

<div class="row">
  <div class="column">
<article>
  <a href="{% url 'page2' %}" class="image"><img src="{% static 'know.jpg' %}" alt="" style="width:250px;height:250px;margin:20px"class="glow"/></a>
  <h3 style="margin-top:-5px;margin-left:15px;font-size:30px;color:  #1a1aff"class="glow"><b>Get To Know Us</b></h3>
  </article>
  </div>
  <div class="column">
<article>
  <a href="{% url 'page3' %}" class="image"><img src="{% static 'movie.jpg' %}" alt="" style="width:250px;height:250px;margin:20px" class="glow"/></a>
  <h3 style="margin-top:-5px;margin-left:15px;font-size:30px;color:  #1a1aff;"class="glow"><b>Help For Movies</b></h3>
  </article>
  </div>
  <div class="column">
  <article>
    <a href="{% url 'page4' %}" class="image"><img src="{% static 'songs.jpg'%}" alt="" style="width:250px;height:250px;margin:20px"class="glow" /></a>
    <h3 style="margin-top:-5px;margin-left:15px;font-size:30px;color:  #1a1aff;"class="glow"><b>Help for Songs</b></h3>
    </article>
    </div>
    <div class="column">
    <article>
    <a href="{% url 'page5' %}" class="image"><img src="{% static 'places.jpg' %}" alt="" style="width:250px;height:250px;margin:20px" class="glow"/></a>
      <h3 style="margin-top:-5px;margin-left:15px;font-size:30px;color:  #1a1aff;"class="glow"><b>Help for Places</b></h3>
      </article>
    </div>
</div>
&nbsp;
<div class="row1">
  <div class="column1">
    <article>
    <a href="{% url 'page6' %}" class="image"><img src="{% static 'food.jpg' %}" alt="" style="width:250px;height:200px;margin:20px" class="glow"/></a>
      <h3 style="margin-top:-5px;margin-left:15px;font-size:30px;color:  #1a1aff;"class="glow"><b>Help for Food</b></h3>
      </article>
    </div>

    
<div class="column1">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <p  style="margin-bottom:50px;margin-left:15px;font-size:15px;color:  #1a1aff;">Hi! there,Welcome to my site.It's a example site of a big project.But as of now i'm 
      representing this only.Enjoy your experience and don't forget to leave a reply for me.Your reply will be helpful
      for me to make my work more responsive.Thanks in advance.
 You can also follow me on these social sites. </p>

<p align="center">
 
                <a href="https://www.instagram.com/being_star12/">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
                   <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                   <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                   <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                 </svg>
               </a>
             &nbsp;

            
                 <a href="https://twitter.com/Bhanvi17">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=
"currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
                   <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 
11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                 </svg>
               </a>
             
 
                 <a href="https://www.facebook.com/bhanvi.makan.7">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">
                   <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                 </svg>
               </a>
            
</p>
</div>
</div>
</div>
</div>
            </body>
</html>