<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

    <link rel="stylesheet" href="portdiv.css">
    <link rel="stylesheet" href="mini-default.css">
      <link rel="stylesheet" href="custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="divs.css">

<title>
Bhanvi (cloud's world)
</title>
</head>
<body style="background-color: #000033;align-items: center;">
<div id="sec1">
        <a href="mine.html" style="color:brown;text-shadow: midnightblue;margin-left:30%;margin-top:2%;font-size: 100px;font-family:Comic Sans MS;font-style: bold;"class="glow">
        Bhanvi Makan </a>
        <p style="color: yellow;margin-top:-2%;margin-left:30%;"><i style="font-size:24px" class="fa">&#xf003;</i>bhanvimakan2000@gmail.com</p>
        <p style="color: yellow;margin-top:0%;margin-left:30%;"><i style="font-size:24px" class="fa">&#xf095;</i>91-9466251726</p>

<p style="margin-top: 10px;color: yellow;margin-left:30%;">
        <a href="https://www.instagram.com/being_star12/" style="color:yellow;margin-left:1%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram">
             <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
             <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
             <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
           </svg>
         </a>
    

      
           <a href="https://twitter.com/Bhanvi17" style="color:yellow;margin-left:1%;">
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke=
"currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter">
             <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 
11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
           </svg>
         </a>
       

           <a href="https://www.facebook.com/bhanvi.makan.7" style="color:yellow;margin-left:1%;">
           <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">
             <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
           </svg>
         </a>
         </p>
         <img src="pback.jpg" alt="background" style="height: 60%;width: 100%;"/>

<p style="color: brown;margin-top:-23%;
margin-left:15%;font-size: 350%;font-family:Comic Sans MS;font-style: bold;"class="glow"><b>Hello Strangers...It's okay,You can scroll down.</b></p>



<p id="fram1" style="margin-top:17%;margin-left:47%;color:yellow;font-size: 25px;">
<a href="#sec2" style="color:yellow;">scroll</a></p>
<hr></hr>
<p id="sec2">
</p>
</p>
</div>

<div id="sec2">
    <div class="hover">
    <a href="project.html" Style="margin-left:80%;margin-top:30%;color:yellow;font-size:150%;">Projects</a></div>
   <div class="hover"><a href="mine.html" Style="margin-left:90%;margin-top:30%;color:yellow;font-size:150%;">About Me</a></div>

    <h2 style="text-align:center;color:brown;text-shadow: midnightblue;text-align: center;margin-top:10%;font-size: 50px;font-family:Comic Sans MS;font-style: bold;"class="glow"
     >I'm Bhanvi, a fresher <br>and CSE Student. Living<br> and working in Ambala,India.</h2>
</div>




</body>
</html>